@model Domain.FieldPlan.ViewModels.FieldPlanViewModel

@{
    ViewBag.Title = "Plan";
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/FieldPlan/FieldPlan.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var config = {
                MarketingYearId: @Model.MarketingYearId,
                Controller: "FieldPlan"
            };
            var fieldPlan = new FieldPlan(config);
        });
    </script>

}

<div class="alert alert-danger" id="dangerAlert" role="alert" style="display: none">
    <h4 class="alert-heading">
        Uwaga !
        <button type="button" class="close" id="closeDangerAlert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>
    <p class="alert-body"></p>
    <hr>
    <p class="mb-0 alert-footer" style="font-size: 9pt">Jeżeli to coś poważniejszego, proszę skontaktować się z administratorem.</p>
</div>

<br />

<h4 style="text-align: center">Plan powierzchni łąk śródleśnych i przyleśnych na rok gospodarczy @Model.MarketingYear</h4>

<br />

<table class="table table-bordered table-hover" id="planTable">
    <tr>
        <th style="width: 5%">
            Lp.
        </th>
        <th style="width: 75%">
            Nazwa
        </th>
        <th style="width: 10%">
            Obszar w ha
        </th>
        <th style="width: 10%">
            Zarządzaj
        </th>
    </tr>
    <tr>
        <td class="clearSearch">
            <a href="#"> <span class="glyphicon glyphicon-ban-circle"></span> </a>
        </td>
        <td>
            @Html.DropDownList("Powierzchnia zagospodarowanych przez dzierżawcę albo zarządcę obwodu łowieckiego łąk śródleśnych i przyleśnych", new List<SelectListItem>
            {
                new SelectListItem {Text = "Powierzchnia zagospodarowanych przez dzierżawcę albo zarządcę obwodu łowieckiego łąk śródleśnych i przyleśnych"}
            }, "", new { Name = String.Empty, @class = "form-control", id= "district", style="max-width: none"})
        </td>
        <td>
            <input type="number" min="0" step="0.1" class="form-control" style="max-width: none" />
        </td>
        <td style="text-align: center">
            <button class="btn btn-primary" id="addPlan">Dodaj</button>
        </td>
    </tr>
    @if (Model.FiledPlanModel != null)
    {
        <tr>
            <td style="text-align: center">
                1
            </td>
            <td>
                Powierzchnia zagospodarowanych przez dzierżawcę albo zarządcę obwodu łowieckiego łąk śródleśnych i przyleśnych
            </td>
            <td class="canEdit">
                @Html.DisplayFor(modelItem => Model.FiledPlanModel.Hectare)
            </td>
            <td style="text-align: center">
                <button class="btn btn-xs btn-success editPlan">Edytuj</button>
                <button class="btn btn-xs btn-danger deletePlan">Usuń</button>
            </td>
        </tr>
    }

</table>
<div style="text-align: right">
    <button class="btn btn-secondary" id="cancel" disabled>Anuluj</button>
    <button class="btn btn-success" id="save" disabled>Zapisz</button>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuwanie planu powierzchni łąk śródleśnych i przyleśnych</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmDeleteModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Usuń</button>
            </div>
        </div>
    </div>
</div>