@using Common.Enums
@using Domain.Expense.ViewModels
@model ExpenseBaseViewModel

@{
    ViewBag.Title = "List";
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Expense/Expense.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var config = {
                MarketingYearId: @Model.MarketingYearModel.Id,
                Controller: "Expense"
            };
            var expense = new Expense(config);
        });
    </script>
}

<h4 style="text-align: center">Wydatki koła łowieckiego w roku gospodarczym @Model.MarketingYearModel</h4>

<br />

@{ var displayAddButton = Model.AnnualPlanStatusModel.Status == (int)AnnualPlanStatus.InProgress ||
                           Model.AnnualPlanStatusModel.Status == (int)AnnualPlanStatus.ToCorrect;
    var display = displayAddButton ? "" : "display:none";
}
<button class="btn btn-brown" id="add" data-toggle="modal" data-target="#addExpenseModal" style="margin-bottom: 10px;@display">Dodaj</button>
<table class="table table-bordered table-hover" id="expenseTable">
    <tr>
        <th style="width: 5%">
            Lp.
        </th>
        <th style="width: 35%">
            Opis
        </th>
        <th style="width: 10%">
            Koszt
        </th>
        <th style="width: 30%">
            Uwagi
        </th>
        <th style="width: 10%">
            Data
        </th>
        <th style="width: 10%">
            Zarządzaj
        </th>
    </tr>
    @foreach (ExpenseViewModel item in Model.ExpenseViewModels.OrderBy(x => x.Date).ToList())
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td style="text-align: center">
                @item.Date.ToString("dd/MM/yyyy")
            </td>
            <td style="text-align: center">
                <button class="btn btn-xs btn-success editExpense">Edytuj</button>
                <button class="btn btn-xs btn-danger deleteExpense">Usuń</button>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuwanie kosztu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" style="display: none">
                    <h4 class="alert-heading">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                    <p class="alert-body"></p>
                </div>

                <div id="confirmDeleteModalBody">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Usuń</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addExpenseModal">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">

            <div class="modal-header" style="text-align: center; background-color: rgba(92, 184, 92, 0.6)">
                <button type="button" class="close" data-dismiss="modal" id="closeModalXButton">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Dodaj koszt
                </h4>
            </div>

            <div class="modal-body">

                <div class="alert alert-danger" role="alert" style="display: none">
                    <h4 class="alert-heading">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                    <p class="alert-body"></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Opis: <input type="text" class="form-control" id="description">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Koszt: <input type="number" class="form-control" id="cost">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Uwagi: <input type="text" class="form-control" id="note">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Data: <input type="date" class="form-control" id="date" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Zamknij</button>
                        <button type="button" class="btn btn-success" id="save">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>