<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Roczny plan", "Index", "AnnualPlan")</li>
                    <li>@Html.ActionLink("Meldunek", "Index", "Report")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Polowania
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Wszystkie polowania", "Index", "Hunt")</li>
                            <li>@Html.ActionLink("Moje polowania", "MyHunts", "Hunt")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Odłowy
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Wszystkie odłowy", "Index", "Catch")</li>
                            <li>@Html.ActionLink("Moje odłowy", "MyCaughts", "Catch")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Ubytki", "Index", "Loss")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Gospodarka
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Karma", "Index", "Fodder")</li>
                            <li>@Html.ActionLink("Obwód", "Index", "AnnualPlan")</li>
                            <li>@Html.ActionLink("Koszty", "Index", "Expense")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Urządzenia łowieckie
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Paśniki", "Index", "Pasture")</li>
                            <li>@Html.ActionLink("Lizawki", "Index", "DeerLicker")</li>
                            <li>@Html.ActionLink("Ambony", "Index", "Pulpit")</li>
                            <li>@Html.ActionLink("Wodopoje", "Index", "WateringPlace")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Plan
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Zatrudnienie", "Index", "EmploymentPlan")</li>
                            <li>@Html.ActionLink("Urządzenia łowieckie", "Index", "HuntEquipmentPlan")</li>
                            <li>@Html.ActionLink("Powierzchnia żeru", "Index", "TrunkFoodPlan")</li>
                            <li>@Html.ActionLink("Powierzchnia łąk", "Index", "FieldPlan")</li>
                            <li>@Html.ActionLink("Karma", "Index", "FodderPlan")</li>
                            <li>@Html.ActionLink("Koszty", "Index", "CostPlan")</li>
                            <li>@Html.ActionLink("Pozyskanie zwierzyny", "Index", "GameHuntPlan")</li>
                            <li>@Html.ActionLink("Liczebność zwierzyny", "Index", "GameCountPlan")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="bodyContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
