@using Common.Enums
@using Common.Extensions
@using Domain.Labor.Models
@using Domain.Report.Models
@using Domain.Report.Models.Game
@model Domain.Report.ViewModels.MonthlyReportViewModel

@{
    ViewBag.Title = "Report";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.51/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.51/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Scripts/Report/ReportPdfGenerator.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var config = {};
            config.marketingYear = '@Model.MarketingYearModel';
            config.reportFromDate = '@Model.ReportDateFrom.ToString("MM/dd/yyyy")';
            config.reportDateTo = '@Model.ReportDateTo.ToString("MM/dd/yyyy")';
            var reportPdfGenerator = new ReportPdfGenerator(config);
        });

    </script>

}
<button class="btn btn-danger" id="generateReportPdf">Pobierz PDF</button>
<br />
<h3 style="font-weight: bold; text-align: center">Informacja o pozyskaniu zwierzyny w obwodzie łowieckim nr 20</h3>
<h4 style="font-weight: bold; text-align: center">w sezonie łow. @Model.MarketingYearModel.Start.ToString("yyyy")/@Model.MarketingYearModel.End.ToString("yyyy") za okres od @Model.ReportDateFrom.ToString("dd.MM.yyyy") roku do @Model.ReportDateTo.ToString("dd.MM.yyyy") roku</h4>

<br />

<table class="table-bordered table-hover" style="text-align: center" id="monthlyReportTable">
    <tr>
        <th colspan="2" style="padding: 10px">Gatunek zwierzyny</th>
        <th style="padding: 10px">Odstrzelono</th>
        <th style="padding: 10px">Sztuki padłe i skłusowane</th>
        <th style="padding: 10px">Razem</th>
        <th style="padding: 10px">Plan odstrzału w roku gospodarczym</th>
        <th style="padding: 10px">Pozostaje do pozyskania</th>
        <th style="padding: 10px">Uwagi</th>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; font-size: smaller">1</td>
        <td style="text-align: center; font-size: smaller">2</td>
        <td style="text-align: center; font-size: smaller">3</td>
        <td style="text-align: center; font-size: smaller">4</td>
        <td style="text-align: center; font-size: smaller">5</td>
        <td style="text-align: center; font-size: smaller">6</td>
        <td style="text-align: center; font-size: smaller">7</td>
    </tr>
    @{ var bigGameKindsWithPortraitColumn = new List<GameKind> { GameKind.Deer, GameKind.FallowDeer, GameKind.Mouflon, GameKind.Roe };}
    @foreach (MonthlyReportKindGameModel bigKindGameModel in Model.MonthlyReportBigGameModel.MonthlyReportKindGameModels)
    {
        if (bigKindGameModel.Kind.IsIn(bigGameKindsWithPortraitColumn))
        {
            <tr>
                <td rowspan="@(bigKindGameModel.MonthlyReportSubKindGameModels.FirstOrDefault().MonthlyReportClassGameModels.Count + 5)" style="text-orientation: mixed">@bigKindGameModel.KindName</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2" rowspan="2">@bigKindGameModel.KindName</td>
            </tr>
        }

        foreach (MonthlyReportSubKindGameModel bigSubKindGameModel in bigKindGameModel.MonthlyReportSubKindGameModels)
        {
            foreach (MonthlyReportClassGameModel bigClassGameModel in bigSubKindGameModel.MonthlyReportClassGameModels)
            {
                string className = bigKindGameModel.Kind == (int)GameKind.FallowDeer ? $"byk {bigClassGameModel.ClassName}" : $"{bigSubKindGameModel.SubKindName.ToLower()} {bigClassGameModel.ClassName}";
                <tr>
                    <td>@className</td>
                    <td>@bigClassGameModel.Culls</td>
                    <td>@bigClassGameModel.LossesWithCatches</td>
                    <td>@bigClassGameModel.ExecutionTotal</td>
                    <td>@bigClassGameModel.HuntPlanCulls</td>
                    <td>@bigClassGameModel.ExecutionLeft</td>
                    <td>@bigClassGameModel.Note</td>
                </tr>
            }

            string subKindName = bigSubKindGameModel.SubKind == 1 ? $"razem {bigSubKindGameModel.SubKindName}" : bigSubKindGameModel.SubKindName;
            <tr>
                <td>@subKindName.ToLower()</td>
                <td>@bigSubKindGameModel.Culls</td>
                <td>@bigSubKindGameModel.LossesWithCatches</td>
                <td>@bigSubKindGameModel.ExecutionTotal</td>
                <td>@bigSubKindGameModel.HuntPlanCulls</td>
                <td>@bigSubKindGameModel.ExecutionLeft</td>
                <td>@bigSubKindGameModel.Note</td>
            </tr>
        }

        <tr>
            @if (bigKindGameModel.Kind.IsIn(bigGameKindsWithPortraitColumn))
            {
                <td>ogółem:</td>
            }
            <td>@bigKindGameModel.Culls</td>
            <td>@bigKindGameModel.LossesWithCatches</td>
            <td>@bigKindGameModel.ExecutionTotal</td>
            <td>@bigKindGameModel.HuntPlanCulls</td>
            <td>@bigKindGameModel.ExecutionLeft</td>
            <td>@bigKindGameModel.Note</td>
        </tr>
    }
    @foreach (MonthlyReportKindGameModel smallKindGameModel in Model.MonthlyReportSmallGameModel.MonthlyReportKindGameModels)
    {
        <tr>
            <td colspan="2">@smallKindGameModel.KindName</td>
            <td>@smallKindGameModel.Culls</td>
            <td>@smallKindGameModel.LossesWithCatches</td>
            <td>@smallKindGameModel.ExecutionTotal</td>
            <td>@smallKindGameModel.HuntPlanCulls</td>
            <td>@smallKindGameModel.ExecutionLeft</td>
            <td>@smallKindGameModel.Note</td>
        </tr>
    }
    <tr>
        <td rowspan="4" colspan="3">W obwodzie wyłożono następujące ilośći karmy:</td>
        <td colspan="3" style="text-align: left">objętościowej suchej</td>
        <td colspan="1">@Model.MonthlyReportFodderModel.Dry.PutOut</td>
        <td colspan="1">kg</td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left">objętościowej soczystej</td>
        <td colspan="1">@Model.MonthlyReportFodderModel.Juicy.PutOut</td>
        <td colspan="1">kg</td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left">treściwej</td>
        <td colspan="1">@Model.MonthlyReportFodderModel.Pithy.PutOut</td>
        <td colspan="1">kg</td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: left">soli</td>
        <td colspan="1">@Model.MonthlyReportFodderModel.Salt.PutOut</td>
        <td colspan="1">kg</td>
    </tr>
</table>

<br />
<br />

<h3>Informacja o wykonanej poprawie naturalnych warunków bytowania zwierzyny :</h3>

<br />

<table class="table-hover" style="width: 100%">
    @{int counter = 1;}
    @foreach (LaborModel labor in Model.MonthlyReportLaborModel.LaborModels)
    {
        <tr style="font-size: 16px">
            <td style="width: 2%">@counter.</td>
            <td style="width: 88%">@labor.Description</td>
            <td style="width: 10%">@labor.Date.ToString("dd/MM/yyyy")</td>
        </tr>
        counter++;
    }
</table>