@{
    ViewBag.Title = "Home Page";
}

<br/>

<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="@Url.Action("Index", "AnnualPlan")" class="btn btn-primary btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-list-alt" style="margin-top: 25px;"></span> <br />Roczny plan</a>
            <a href="@Url.Action("Index", "Report")" class="btn btn-success btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-bookmark" style="margin-top: 25px;"></span> <br />Meldunek</a>
            <a href="@Url.Action("Index", "Hunt")" class="btn btn-primary btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-signal" style="margin-top: 25px;"></span> <br />Polowania</a>
            <a href="@Url.Action("Index", "Catch")" class="btn btn-success btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-comment" style="margin-top: 25px;"></span> <br />Odłowy</a>
            <a href="@Url.Action("Index", "Loss")" class="btn btn-primary btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-user" style="margin-top: 25px;"></span> <br />Ubytki</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-file" style="margin-top: 25px;"></span> <br />Wykaz</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-picture" style="margin-top: 25px;"></span> <br />Wycena</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-success btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-tag" style="margin-top: 25px;"></span> <br />Gospodarka</a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" role="button" style="width:150px; height: 120px; margin-bottom:75px; margin-right:75px;"><span class="glyphicon glyphicon-apple" style="margin-top: 25px;"></span> <br />Inne</a>
        </div>
    </div>
</div>