@using Domain.Role
@{
    ViewBag.Title = "Home Page";
}

<br />

@if (RoleManager.IsHeadHuntsman(Request.Cookies["User"]))
{
    <div style="display: flex; align-items: center; justify-content: center">
        <div class="col-md-7" style="margin-top: calc(50vh - 300px); margin-bottom: 30px;">
            <a href="@Url.Action("Index", "AnnualPlan")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-list-alt" style="margin-top: 25px;"></span> <br />Roczny plan</a>
            <a href="@Url.Action("Index", "Report")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-bookmark" style="margin-top: 25px;"></span> <br />Meldunek</a>
            <a href="@Url.Action("Index", "Hunt")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px;"><span class="glyphicon glyphicon-signal" style="margin-top: 25px;"></span> <br />Polowania</a>
            <a href="@Url.Action("Index", "Catch")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-comment" style="margin-top: 25px;"></span> <br />Odłowy</a>
            <a href="@Url.Action("Index", "Loss")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-user" style="margin-top: 25px;"></span> <br />Ubytki</a>
            <a href="@Url.Action("Index", "Fodder")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px;"><span class="glyphicon glyphicon-file" style="margin-top: 25px;"></span> <br />Karma</a>
            <a href="@Url.Action("Index", "Labor")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-right: 75px;"><span class="glyphicon glyphicon-picture" style="margin-top: 15px;"></span> <br />Prace <br /> gospodarcze</a>
            <a href="@Url.Action("Index", "Pasture")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-right: 75px;"><span class="glyphicon glyphicon-tag" style="margin-top: 25px;"></span> <br />Paśniki</a>
            <a href="@Url.Action("Index", "Pulpit")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px;"><span class="glyphicon glyphicon-apple" style="margin-top: 25px;"></span> <br />Ambony</a>
        </div>
    </div>
}
else if (RoleManager.IsDirector(Request.Cookies["User"]))
{
    <div style="display: flex; align-items: center; justify-content: center">
        <div class="col-md-7" style="margin-top: calc(50vh - 240px);">
            <a href="@Url.Action("Index", "AnnualPlan")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-list-alt" style="margin-top: 25px;"></span> <br />Roczny plan</a>
            <a href="@Url.Action("MyHunts", "Hunt")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px; margin-right: 75px;"><span class="glyphicon glyphicon-bookmark" style="margin-top: 25px;"></span> <br />Polowania</a>
            <a href="@Url.Action("MyCaughts", "Catch")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-bottom: 75px;"><span class="glyphicon glyphicon-signal" style="margin-top: 25px;"></span> <br />Odłowy</a>
            <a href="@Url.Action("Index", "Loss")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px; margin-right: 75px;"><span class="glyphicon glyphicon-comment" style="margin-top: 25px;"></span> <br />Ubytki</a>
            <a href="@Url.Action("Index", "Expense")" class="btn btn-brown btn-lg" role="button" style="width: 150px; height: 120px; margin-right: 75px;"><span class="glyphicon glyphicon-user" style="margin-top: 25px;"></span> <br />Koszty</a>
            <a href="@Url.Action("Index", "CarcassRevenue")" class="btn btn-success btn-lg" role="button" style="width: 150px; height: 120px;"><span class="glyphicon glyphicon-file" style="margin-top: 25px;"></span> <br />Przychody</a>
        </div>
    </div>
}
else
{
    <div style="display: flex; align-items: center; justify-content: center">
        <div class="col-md-6" style="margin-top: calc(50vh - 260px);">
            <a href="@Url.Action("Index", "AnnualPlan")" class="btn btn-brown btn-lg" role="button" style="width: 180px; height: 150px; margin-bottom: 90px; margin-right: 125px;"><span class="glyphicon glyphicon-list-alt" style="margin-top: 50px; font-size: 30px;"></span> <br />Roczny plan</a>
            <a href="@Url.Action("MyHunts", "Hunt")" class="btn btn-success btn-lg" role="button" style="width: 180px; height: 150px; margin-bottom: 90px;"><span class="glyphicon glyphicon-signal" style="margin-top: 50px; font-size: 30px;"></span> <br />Polowania</a>
            <a href="@Url.Action("MyCaughts", "Catch")" class="btn btn-success btn-lg" role="button" style="width: 180px; height: 150px; margin-right: 125px;"><span class="glyphicon glyphicon-comment" style="margin-top: 50px; font-size: 30px;"></span> <br />Odłowy</a>
            <a href="@Url.Action("Index", "Loss")" class="btn btn-brown btn-lg" role="button" style="width: 180px; height: 150px;"><span class="glyphicon glyphicon-user" style="margin-top: 50px; font-size: 30px;"></span> <br />Ubytki</a>
        </div>
    </div>
}