@model Domain.EmploymentPlan.ViewModels.EmploymentPlanBaseViewModel

@{
    ViewBag.Title = "Plan";
}

<br />

<h4 style="text-align: center">Plan zatrudnienia gospodarczego koła łowieckiego na rok gospodarczy @Model.MarketingYear</h4>

<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Lp.
        </th>
        <th>
            Zatrudnienie
        </th>
        <th>
            Liczba
        </th>
        <th>
            Zarządzaj
        </th>
    </tr>

    @foreach (var item in Model.EmploymentPlanViewModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
