@using Common.Enums
@using Domain.DeerLicker.ViewModels
@model DeerLickerBaseViewModel

@{
    ViewBag.Title = "List";
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/DeerLicker/DeerLicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var config = {
                MarketingYearId: @Model.MarketingYearModel.Id,
                Controller: "DeerLicker"
            };
            var deerLicker = new DeerLicker(config);
        });
    </script>
}

<h4 style="text-align: center">Zagospodarowanie lizawek w roku gospodarczym @Model.MarketingYearModel</h4>

<br />

@{ var displayAddButton = Model.AnnualPlanStatusModel.Status == (int) AnnualPlanStatus.InProgress ||
                          Model.AnnualPlanStatusModel.Status == (int) AnnualPlanStatus.ToCorrect;
    var display = displayAddButton ? "" : "display:none";
}
<button class="btn btn-brown" id="add" data-toggle="modal" data-target="#addDeerLickerModal" style="margin-bottom: 10px;@display">Dodaj</button>
<table class="table table-bordered table-hover" id="deerLickerTable">
    <tr>
        <th style="width: 5%">
            Lp.
        </th>
        <th style="width: 10%">
            Oddział
        </th>
        <th style="width: 10%">
            Rewir
        </th>
        <th style="width: 15%">
            Leśnictwo
        </th>
        <th style="width: 10%">
            Liczba
        </th>
        <th style="width: 40%">
            Opis
        </th>
        <th style="width: 10%">
            Zarządzaj
        </th>
    </tr>
    @foreach (DeerLickerViewModel item in Model.DeerLickerViewModels.ToList())
    {
    <tr>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forestry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="text-align: center">
            <button class="btn btn-xs btn-success editDeerLicker">Edytuj</button>
            <button class="btn btn-xs btn-danger deleteDeerLicker">Usuń</button>
        </td>
    </tr>
    }
</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuwanie lizawki</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" style="display: none">
                    <h4 class="alert-heading">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                    <p class="alert-body"></p>
                </div>

                <div id="confirmDeleteModalBody">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Usuń</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addDeerLickerModal">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">

            <div class="modal-header" style="text-align: center; background-color: rgba(92, 184, 92, 0.6)">
                <button type="button" class="close" data-dismiss="modal" id="closeModalXButton">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Dodaj lizawki
                </h4>
            </div>

            <div class="modal-body">

                <div class="alert alert-danger" role="alert" style="display: none">
                    <h4 class="alert-heading">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                    <p class="alert-body"></p>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Oddział: <input type="number" class="form-control" id="section">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Rewir: <input type="number" class="form-control" id="district">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Leśnictwo:
                            @Html.DropDownList("Wybierz leśnictwo", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Piaski", Value = "1"},
                                new SelectListItem {Text = "Prądy", Value = "2"},
                                new SelectListItem {Text = "Ptusza", Value = "3"},
                                new SelectListItem {Text = "Smolary", Value = "4"},
                                new SelectListItem {Text = "Wrzosy", Value = "5"}
                            }, "", new {Name = String.Empty, @class = "form-control", id = "forestry"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Liczba: <input type="text" class="form-control" id="count" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2" style="width: 75%">
                            Opis: <input type="text" class="form-control" id="description" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Zamknij</button>
                        <button type="button" class="btn btn-success" id="save">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
