@model IEnumerable<Domain.Hunt.ViewModels.HuntViewModel>

@{
    ViewBag.Title = "MyHunts";
}

<h2>Moje polowania</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Circuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shots)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Circuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameSubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shots)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
