@model IEnumerable<Domain.GameLoss.ViewModel.GameLossViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ubytki</h2>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#reportLossModal">
    Zgłoś ubytek
</button>

<br/>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KindName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubKindName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanitaryLoss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Circuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Zarządzaj
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KindName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubKindName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanitaryLoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Szczegóły", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div class="modal" id="reportLossModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Zgłoś ubytek</h4>
                <button type="button" class="close" data-dismiss="modal" id="closeModalXButton">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group form-horizontal">
                        <div class="col-md-10">
                            Data: <input type="date" class="form-control" id="huntDatepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            Okręg: @Html.DropDownList("Wybierz Obwód", new List<SelectListItem>
                     {
                         new SelectListItem {Text = "Płytnica", Value = "20"}
                     }, "", new { @class = "form-control", id="circuit"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            Region: @Html.DropDownList("Wybierz Rewir", new List<SelectListItem>
                    {
                        new SelectListItem {Text = "1", Value = "1"},
                        new SelectListItem {Text = "2", Value = "2"},
                        new SelectListItem {Text = "3", Value = "3"},
                        new SelectListItem {Text = "4", Value = "4"},
                        new SelectListItem {Text = "5", Value = "5"},
                        new SelectListItem {Text = "6", Value = "6"},
                        new SelectListItem {Text = "7", Value = "7"},
                        new SelectListItem {Text = "8", Value = "8"},
                        new SelectListItem {Text = "9", Value = "9"},
                        new SelectListItem {Text = "10", Value = "10"},
                        new SelectListItem {Text = "11", Value = "11"},
                        new SelectListItem {Text = "12", Value = "12"},
                        new SelectListItem {Text = "13", Value = "13"},
                        new SelectListItem {Text = "14", Value = "14"},
                        new SelectListItem {Text = "15", Value = "15"},
                        new SelectListItem {Text = "16", Value = "16"}
                    }, "", new { @class = "form-control", id= "district" })
                        </div>
                    </div>

                    <div id="gameSection">
                        <div class="form-group" id="gameKindSection">
                            <div class="col-md-10">
                                Typ zwierzyny: @Html.DropDownList("Wybierz typ zwierzyny", new List<SelectListItem>
                 {
                     new SelectListItem {Text = "", Value = "-1"},
                     new SelectListItem {Text = "Łoś", Value = "1"},
                     new SelectListItem {Text = "Jeleń", Value = "2"},
                     new SelectListItem {Text = "Jeleń Sika", Value = "3"},
                     new SelectListItem {Text = "Daniel", Value = "4"},
                     new SelectListItem {Text = "Sarna", Value = "5"},
                     new SelectListItem {Text = "Muflon", Value = "6"},
                     new SelectListItem {Text = "Dzik", Value = "7"},
                 }, new { @class = "form-control" , id = "gameKindSelect"})
                            </div>
                        </div>

                        <div class="form-group" id="sanitaryLossSection">
                            <div class="col-md-10">
                                Odstrzał sanitarny: <input type="checkbox" class="form-control" id="sanitaryLoss" />
                            </div>
                        </div>

                        <div class="form-group" id="descriptionSection">
                            <div class="col-md-10">
                                Opis: <input type="text" class="form-control" id="description" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalButton">Zamknij</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="saveButton">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(window).on('load',
            function() {
                $.ajax({
                    type: "GET",
                    url: '/Game/GetGameModels',
                    success: function(data) {
                        $gameList = data;
                    },
                    error: function() {
                        alert('Coś poszło nie tak, proszę odświeżyć stronę.');
                    }
                });
            });

        function insertSelectSectionAfter(selectLabel, selectId, sectionId, afterElement) {
            $("<div class=\"form-group\" style=\"display: none\" id=" + sectionId + "><div class=\"col-md-10\">" + selectLabel + ": <select class=\"form-control\" id=" + selectId + "></select></div></div>").insertAfter("#" + afterElement).show("slow");
        }

        function getGameWithSubKinds() {
            var gamesWithSubKindArray = $.grep($gameList,
                function(item, index) {
                    return item.SubKind !== null;
                });

            return gamesWithSubKindArray;
        }

        function getGameSubKinds() {
            var gameKind = parseInt($('#gameKindSelect').val());
            var gamesSubKindArray = $.grep($gameList,
                function(item, index) {
                    return item.Kind === gameKind && item.Type === 1;
                });

            return gamesSubKindArray;
        }

        function isGameWithSubKindSelected(selectedValue, gamesWithSubKindArray) {
            for (var i = 0; i < gamesWithSubKindArray.length; i++) {
                if (gamesWithSubKindArray[i].Kind === selectedValue) {
                    return true;
                }
            }
            return false;
        }

        function setGameSubKindOptions(selectedValue) {
            var selectedValueInt = parseInt(selectedValue);

            var gamesWithSubKinds = getGameWithSubKinds();
            var isSelected = isGameWithSubKindSelected(selectedValueInt, gamesWithSubKinds);
            if (!isSelected) {
                $('#gameSubKindSection').hide("slow", function() { $(this).remove(); });
                return;
            }

            if ($('#gameSubKindSection').length === 0) {
                insertSelectSectionAfter("Rodzaj", "gameSubKindSelect", "gameSubKindSection", "gameKindSection");
            }

            var items = getGameSubKinds();

            $('#gameSubKindSelect').empty();
            $('#gameSubKindSelect').append($('<option>'));
            $.each(items,
                function(i, item) {
                    $('#gameSubKindSelect').append($('<option>',
                        {
                            value: item.SubKind,
                            text: item.SubKindName
                        }));
                });
        }

        $('#gameKindSelect').on("change", function () {
            var selectedValue = $("#gameKindSelect").val();
            setGameSubKindOptions(selectedValue);
            });
    </script>

    <script type="text/javascript">

        function clearModal() {
            $("#city").val("");
            $("#circuit").val("");
            $("#district").val("");
            $("#gameTypeSelect").val("-1");
            $("#gameKindSection").remove();
            $("#gameSubKindSection").remove();
            $('#sanitaryLoss').prop('checked', false);
            $("#description").val("");
        }

        $('#closeModalButton').on('click',
            function() {
                clearModal();
            });

        $('#closeModalXButton').on('click',
            function() {
                clearModal();
            });

        $('#saveButton').on('click',
            function () {
                var model = {
                    Date: $('#huntDatepicker').val(),
                    City: $('#circuit :selected').text(),
                    Circuit: $('#circuit :selected').val(),
                    District: $('#district :selected').val(),
                    Type: 1,
                    Kind: $('#gameKindSelect :selected').val(),
                    SubKind: $('#gameSubKindSelect :selected').val(),
                    SanitaryLoss: $('#sanitaryLoss').is(':checked'),
                    Description: $('#description').val()
                };

                $.ajax({
                    type: "POST",
                    url: '/Loss/ReportLoss',
                    data: model,
                    dataType: 'json',
                    success: function(data) {
                        location.reload();
                    }
                });

                clearModal();
            });

    </script>
}